.wallet-container {
  display: flex;
  justify-content: center;

  white-space: nowrap; /* Prevent cards from wrapping */
}

.card-container {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-container.active {
  z-index: 1;
  transform: scale(1.2);
}

.card {
  margin: -10px;
  width: 300px;
  height: 200px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
